<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.erickborges.webtips" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Web Tips</name>
    <description>
        An App to bring to the world some Web knowledge.
    </description>
    <author email="contato@erickborges.com.br" href="http://erickborges.com.br">
        Erick Borges
    </author>
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="3.5.0" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <icon src="icon.png" />
    <icon gap:platform="android" gap:qualifier="ldpi" src="www/res/icon/android/drawable-ldpi/ic_launcher.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="www/res/icon/android/drawable-mdpi/ic_launcher.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="www/res/icon/android/drawable-hdpi/ic_launcher.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="www/res/icon/android/drawable-xdpi/ic_launcher.png" />
    <icon gap:platform="android" gap:qualifier="xxdpi" src="www/res/icon/android/drawable-xxdpi/ic_launcher.png" />
    <icon gap:platform="android" gap:qualifier="xxxdpi" src="www/res/icon/android/drawable-xxxdpi/ic_launcher.png" />
    <access origin="*" />
</widget>
