/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    
    font-size: 14px;
}
body {
    height: 100%;
    font-family: roboto, arial, helvetica, sans-serif;
    background: #FFF;
}

.input-hide {
    display: none;
}

/** TOPO INI **/
#topo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    
    height: 4rem;
    background: none #000;
    color: #FFF;
    font-size: 0;
}
#topoEsquerdo,
#topoDireito {
    width: 49%;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}
#topoEsquerdo {
    text-align: left;
}
#topoDireito {
    text-align: right;
}
#topo h1 {
    line-height: 4rem;
    font-size: 1.8rem;
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 2rem;
}
#topo label {
    display: inline-block;
    vertical-align: middle;
    font-size: 2.4rem;
    padding: 0.5rem;
    color: #FFF;
}
#topo label[for="selectMenuBack"] {
    padding: 0.5rem 1rem;
}
#topo #topoDireito {
    position: relative;
}
#topo #topoDireito > label {
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: rotate(90deg);
}
#topo #topoDireito ul {
    max-height: 0;
    position: fixed;
    top: 4rem;
    right: 0;
    background: #000;
    
    padding: 0;
    border-radius: 0 0 0 18rem;
}
#topo #topoDireito #selectMenuTopo:checked + ul {
    -webkit-transition-property: all;
    -webkit-transition-duration: 200ms;
    -webkit-transition-delay: 0;
    
    padding: 0 0 6rem 6rem;
    max-height: 30rem;
}
#topo #topoDireito ul li {
    padding: 1rem 0;
}
#topo #topoDireito ul li label {
    padding-right: 3rem;
    padding-left: 3rem;
}

h1#tituloHome {
    display: none;
    color: #5a9f4e;
    text-align: center;
    line-height: 10rem;
    font-size: 3rem;
}

#topo.active {
    display: none;
}
h1#tituloHome.active {
    display: block;
    position: relative;
    top: 0;
}
/** TOPO INI **/


/** NAV INI **/
nav {
    position: fixed;
    z-index: 2;
    top: 4rem;
    left: 0;
    text-align: center;

    width: 100%;
    font-size: 0;

    background-color: #fff;
    border-width: 0 0 0.2rem;
    border-style: solid;
    border-color: #5a9f4e;
}
nav label {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;

    width: 33.3333%;
    line-height: 5rem;
    height: 5rem;
    font-size: 1.4rem;

    cursor: pointer;
    text-transform: uppercase;
    position: relative;
}
nav label::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #5a9f4e;
    
    -webkit-transition: all 200ms;
}
nav label.active::before,
nav [type="radio"]:checked + label::before {
    height: 0.7rem;
}

/* nav active - config by home active */
nav.active {
    display: none;
}

/* fake nav - config by home active */
#fake-nav {
    margin: 2rem 10% 0;
    width: 80%;
    border: 0;
    position: static;
}
#fake-nav span {
    display: block;
    width: 100%;
    margin: 0 0 2rem;
    font-size: 1.6rem;
    text-align: center;
    line-height: 5rem;
    position: relative;
    top: 0;
    left: 0;
    
    z-index: 20;
    
    background: none #5a9f4e;
    color: #FFF;
}
/** NAV FIM **/


/* partial containers */
.page-container {
    position: fixed;

    width: 100%;
    bottom: 2%;
    overflow: auto;
    top: 9.2rem; /* .2 = border nav */
    
    /*transform*/

    -webkit-transform: translate3d(0,0,0);
       -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
         -o-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
}
.page-view {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    /*color: #fff;
    backface-visibility*/

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
         -o-backface-visibility: hidden;
            backface-visibility: hidden;
    /*perspective*/
    -webkit-perspective: 1000;
       -moz-perspective: 1000;
        -ms-perspective: 1000;
         -o-perspective: 1000;
            perspective: 1000;
}
.pages {
    height: inherit;
    padding: 2rem 1rem;
    position: relative;
}
#home.pages {
    padding: 0;
}

/* nav active - config by home active */
nav.active + .page-container {
    position: static;
    overflow: hidden;
}
nav.active + .page-container .page-view {
    position: static;
}


#home {
    overflow: hidden;
}
/*
#html {
    background-color: rgba(200,200,20,0.5);
}
#css {
    background-color: rgba(250,50,50,0.5);
}
#svg {
    background-color: rgba(10,10,100,0.5);
}*/

.ng-click-active {
    box-shadow: inset 0 0 2rem #5a9f4e;
}
.click-contraste.ng-click-active {
    box-shadow: inset 0 0 2rem #222;
}


h2#marcaRodape {
    text-align: center;
}
h2#marcaRodape a img {
    height: 7rem;
}



#home + footer {
    margin: 5rem 0 0;
    position: relative;
    bottom: 0;
    height: 7rem;
}


@media all and (max-width: 450px) {
    html {
        font-size: 12px;
    }
}
@media all and (min-width: 451px) {
    html {
        font-size: 14px;
    }
}
