
/* Menu Animations */
/*
body.run-home-animation {
    -webkit-transition-property: all;
    -webkit-transition-duration: 1400ms;
    -webkit-transition-delay: 200ms;
    
    background: #8EC285;
}*/

body.run-home-animation #tituloHome,
body.run-home-animation footer {
    -webkit-transition-property: all;
    -webkit-transition-duration: 400ms;
    -webkit-transition-delay: 100ms;
    
    z-index: 10;
}
body.run-home-animation #tituloHome {
    color: #FFF;
}
body.run-home-animation #home + footer {
    bottom: -7rem;
}

body.run-home-animation #fake-nav .fake-nav-change {
    /*-webkit-transition-property: all;
    -webkit-transition-duration: 600ms;
    -webkit-transition-delay: 200ms;
    
    font-size: 0;
    width: 0;
    color: #5a9f4e;*/
    visibility: hidden;
}
body.run-home-animation #fake-nav .fake-nav-item.fake-item-active {
    -webkit-transition-property: all;
    -webkit-transition-duration: 800ms;
    -webkit-transition-delay: 200ms;
    
    background-color: transparent;
}

body .home-animation-aux {
    background: none transparent;
    position: fixed;
    left: 0;
    right: 0;
    top: 100%;
    bottom: -100%;
    z-index: -1;
    
    -webkit-transition-property: all;
    -webkit-transition-duration: 200ms;
    -webkit-transition-delay: 0;
    
    /*transition-property*/
    -webkit-transition-property: all;
       -moz-transition-property: all;
         -o-transition-property: all;
            transition-property: all;
}
body.run-home-animation .home-animation-aux {
    /*left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;*/
    /*transform*/
    -webkit-transform: translate3d(0,-100%,0);
       -moz-transform: translate3d(0,-100%,0);
        -ms-transform: translate3d(0,-100%,0);
         -o-transform: translate3d(0,-100%,0);
            transform: translate3d(0,-100%,0);
    
    background: none #000;
}
/*
body .home-animation-aux .stripes {
    -webkit-transition-property: all;
    -webkit-transition-duration: 600ms;
    -webkit-transition-delay: 500ms;
    
    position: absolute;
    top: 0;
    bottom: 100%;
    z-index: 0;
    text-align: center;
    background: #FFF;
    
    left: 0;
    right: 0;
}
body.run-home-animation .home-animation-aux .stripes {
    bottom: 0;
}
body.run-home-animation .home-animation-aux .stripes.triple-stripes {

}
body.run-home-animation .home-animation-aux .stripes.quadruple-stripes {
    
}*/